<% current_ids = @group.user_ids %>

<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :auth_attribute %><br />
    <%= f.text_field :auth_attribute %>
  </div>
  <div class="field">
    <%= f.label :auth_value %><br />
    <%= f.text_field :auth_value %>
  </div>
  <h3>Manually Manage Members</h3>
  <div class="field">
  <% User.all.each do |user| %>
	  <label><%= user.name %><%= check_box_tag 'group[user_ids][]', user.id, current_ids.include?(user.id) %></label>
  <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
