<% @principals ||= Principal.all %>
<%= form_for @permission = Permission.new, :html => {:class => 'form-horizontal'} do |f| %>
	<%= f.hidden_field :key, :value => 'access' %>
	<%= f.hidden_field :securable_type, :value => 'Store' %>
	<% if @store %>
		<%= f.hidden_field :securable_id, :value => @store.id %>
	<% else %>
		<%= f.select :securable_id, options_for_select(Store.all.map{|s| [s.name, s.id]}) %>
	<% end %>
	<table width="100%" class="table"><tr><td>
	<p>Priority:<%= f.text_field :priority, :size => 3 %><br/>
	Numbers come before capital letters come before small letters!</p>
	<p>Access? <%= f.check_box :value %></p></td><td>
	<% if @permission.principal %>
    Applies to <%= @permission.principal.name %>
  <% else %>
    Applies to:
  <% end %>
  <p>
	Group: <%= select_tag :principal_group, options_for_select(Group.all.map{|g| [g.name, g.id]}) %></p>
	<div id="principal" style="display: inline;"><%= render :partial => 'permissions/principal_select' %></div>
	<%= javascript_tag do %>
	jQuery(function($) {
  // when the #search field changes
  $("#principal_group").change(function() {
  // make a POST call and replace the content
	$.ajax({
		url: "/permissions/ajax_update_principals?principal_group="+$("#principal_group").val(),
		dataType: "html",
		success: function(data) {
			$("#principal").html(data);
		}
	});
  });
});
	<% end %>
</td></tr></table>
<%= f.submit :class => "btn"  %>
<% end %>
